
<form method="POST" action="/settings/departments/edit/{{ department.id }}/" id="department_edit_form">

<div class="col-md-7">

  <ol class="breadcrumb">
    <li><a href="/settings/departments/" data-vpp-all-departments-link="1">Tutti i reparti</a></li>
    <li class="active">{{ department.name }}</li>
  </ol>

  <div class="form-group">
    <label for="name" class="control-label">Nome</label>
    <input class="form-control" id="name" name="name" required value="{{department.name}}">
  </div>


  <div class="form-group">
    <label for="manager_id" class="control-label">Manager</label>
    <select class="form-control" name="boss_id" id="manager_id">
    {{#each company.users}}
      <option value="{{this.id}}" {{#if_equal ../department.bossId this.id }} selected="selected"{{/if_equal}}>{{this.full_name}}</option>
    {{/each}}
    </select>
    <span class="help-block">Responsabile principale del reparto {{department.name}}. <a href="/users/edit/{{department.bossId}}/">Maggiori dettagli <i class="fa fa-angle-double-right"></i></a></span>
  </div>

  <div class="form-group">
    <label class="control-label">Supervisore secondario (BETA)</label>
    <ul class="list-group no-bottom-space">
      {{# each department.supervisors }}

      <li class="list-group-item">
        <span><a href='/users/edit/{{ this.id }}/'>{{ this.full_name }}</a> <button type="submit" name="remove_supervisor_id" value="{{this.id}}" class="pull-right btn btn-link btn-xs"><i class="fa fa-trash"></i> Elimina</button><span>
      </li>
      {{/ each }}

      <li class="list-group-item">
        <span>&nbsp;
        <a class="pull-right btn btn-link btn-xs"
          data-vpp-add-new-secondary-supervisor="1"
          data-toggle="modal"
          data-target="#add_secondary_supervisers_modal"
          data-department_id="{{department.id}}"
          data-department_name="{{department.name}}"
        >
          <i class="fa fa-plus"></i> Aggiungi nuovo supervisore secondario
        </a>
        <span>
      </li>
    </ul>
    <span class="help-block">Lista di utenti aggiuntivi che possono gestire le richieste di assenza dei dipendenti del reparto {{department.name}} </span>
  </div>


  <div class="form-group">
    <label for="allowance_select">Giorni di ferie</label>

    <select class="form-control" name="allowance" id="allowance_select">
        {{#each allowance_options}}
        <option value="{{value}}" {{#if_equal this.value ../department.allowance}} selected="selected"{{/if_equal}}>{{caption}}</option>
        {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="use_bank_holidays_inp" class="control-label">
      <input class="" id="use_bank_holidays_inp" name="include_public_holidays" type="checkbox" {{# if department.include_public_holidays}} checked="checked"  {{/if}} >
      Includi festività nazionali
    </label>
    <span class="help-block">Determina se i dipendenti del reparto {{department.name}} hanno le <a href="/settings/general"/>festività nazionali</a> in aggiunta ai loro giorni di ferie</span>
  </div>

  <div class="form-group">
    <label for="is_accrued_allowance_inp" class="control-label">
      <input class="" id="is_accrued_allowance_inp" name="is_accrued_allowance" type="checkbox" {{# if department.is_accrued_allowance}} checked="checked" {{/if}} >
      Ferie incrementali
    </label>
    <span class="help-block">Se abilitato, i giorni di ferie iniziano ad accumularsi in proporzione al periodo dell'anno in cui inizia il rapporto di lavoro. Es: Un dipendente nel 9° mese di assunzione ha maturato 9/12 (quindi 3/4) del monte ferie annuale</span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button id="save_changes_btn" type="submit" class="btn btn-success pull-right">Salva modifiche del reparto</button>
    <a class="btn btn-link pull-right" href="/settings/departments/">Annulla</a>
  </div>
</div>

</form>

{{> department_details/supervisers_modal department=department }}
