
<div class="modal fade" id="{{container_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form method="POST" action="{{form_action}}" id="add_new_department_form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Aggiungi nuovo reparto</h4>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="department_name_new" class="control-label">Nome:</label>
          <input type="text" class="form-control" id="department_name_new" name="name__new" required placeholder="Nome nuovo reparto">
        </div>

        <div class="form-group">
          <label for="department_allowance_new" class="control-label">Giorni di ferie:</label>
          <select class="form-control" id="department_allowance_new" name="allowance__new">
            {{#each allowance_options}}
            <option value="{{value}}" {{#if_equal this.value 20}} selected="selected"{{/if_equal}}>{{caption}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <input type="checkbox" id="department_include_public_holiday_new" name="include_public_holidays__new" checked="checked">&nbsp;
          <label for="department_include_public_holiday_new" class="control-label">Includi festività nazionali?</label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="department_is_accrued_allowance_new" name="is_accrued_allowance__new">&nbsp;
          <label for="department_is_accrued_allowance_new" class="control-label">Ferie proporzionali?</label>
        </div>

        <div class="form-group">
          <label for="department_superwiser_new" class="control-label">Responsabile</label>
          <select class="form-control" id="department_allowance_new" name="boss_id__new">
            {{#each company.users}}
              <option value="{{this.id}}">{{this.full_name}}</option>
            {{/each}}
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-success">Crea</button>
      </div>
    </form>
    </div>
  </div>
</div>


