{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>Riepilogo ferie
    <i class="fa fa-question-circle"
      data-content="Riassume come viene calcolato il totale disponibile. Porta il cursore su ogni numero per avere il dettaglio del significato."
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>Maturato {{current_year}} </em>
      <span class="pull-right"
        data-content="Giorni di ferie annuali in base al contratto in essere"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id='nominalAllowancePart'
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>Residuo {{previous_year}}</em>
      <span class="pull-right"
        data-content="Giorni di ferie residui dell'anno precedente. Nota: questo valore è calcolato il primo giorno dell'anno."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id="allowanceCarriedOverPart"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>Variazioni individuali</em>
      <span class="pull-right"
        data-content="Variazioni individuali operate dall'amministratore"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>Inizio/fine rapporto</em>
      <span class="pull-right"
        data-content="Aggiustamento automatico in base alle date di inizio e fine rapporto nel corso dell'anno"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>Usati finora</em>
      <span class="pull-right"
        data-content="Numero di giorni già utilizzati tra quelli disponibili."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>Non disponibili</em>
        <span class="pull-right"
          data-content=" Numero di giorni non disponibili a causa della maturazione mensile delle ferie."
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
