Nuovo account VDFerie per {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Buongiorno <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> ti ha appena creato un nuovo account come dipendente di <strong>{{company.name}}</strong>.</p>

<p>Contatta <strong>{{admin_user.name}}</strong> per conoscere la tua nuova password ed esegui il login su {{> email/link href=(get_application_domain) text="VDFerie" }}</p>

</p>

<p>Cordiali saluti.</p>

</p>

<p>La Direzione</p>
