
{{> header }}

<h1>Calendario dipendente</h1>

<div class="row">
    <div class="col-md-6 lead">Calendario {{current_year}} di {{logged_user.name}} {{logged_user.lastname}}</div>
    <div class="col-md-6">
    </div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row main-row_header hidden-xs">
  <div class="col-md-12">Statistiche</div>
</div>

<div class="row">

  <div class="col-md-3 top-leave-type-statistics">
    <dl>
      {{#with current_user }}
      <dt data-tom-days-available-in-allowance>{{ ../user_allowance.number_of_days_available_in_allowance }}</dt>
      <dd>Giorni disponibili</dd>
      <dd>su <span data-tom-total-days-in-allowance>{{ ../user_allowance.total_number_of_days_in_allowance }}</span> maturati</dd>
      {{/with}}
    </dl>
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    {{> user_details/allowance_breakdown user_allowance = user_allowance }}
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    <dl>
      <dt>Usati finora</dt>

      {{# if leave_type_statistics }}
        {{# each leave_type_statistics }}
          <dd><em>{{this.leave_type.name}}:</em> <span class="pull-right">{{this.days_taken}}{{# if this.limit}} di {{this.limit}}{{/if}}</span></dd>
        {{/each}}
      {{else}}

        <dd class="text-muted">Nessuna richiesta approvata finora.</dd>
      {{/if}}
    </dl>
  </div>

  <div class="col-md-3 secondary-leave-type-statistics hidden-xs">
    <dl>
      <dt>Dettagli</dt>
      {{~# each supervisors  ~}}
      <dd>
        <em>{{# if  @first }} Supervisore: {{ else   }}  &nbsp;   {{/ if  }}</em>
        <span class="pull-right"><a href="mailto:{{this.email}}">{{ this.full_name }}</a></span>
      </dd>
      {{~/ each ~}}
      <dd><em>Dipartimento:</em> <span class="pull-right"><a href="/calendar/teamview/?department={{ current_user.department.id }}">{{ current_user.department.name }}</a></span></dd>
      <dd><em>Maturati nel {{current_year}}:</em><span class="pull-right"> {{ user_allowance.total_number_of_days_in_allowance }} giorni</span><dd>
    </dl>
  </div>

</div>

<div class="row">
</div>


<div class="row main-row_header">
  <div class="col-md-12">Calendario <a href="/calendar/feeds/" data-toggle="tooltip" data-placement="right" title="Esporta assenze su calendario esterno"><span class="fa fa-rss"></span></a></div>
</div>

<div class="row">
  <div class="col-xs-2">
    {{#if show_full_year}}
    <a class="btn btn-default" href="/calendar/?year={{previous_year}}{{#if show_full_year}}&show_full_year=1{{/if}}"><span aria-hidden="true" class="fa fa-chevron-left"></span> {{previous_year}} </a>
    {{/if}}
  </div>
  <div class="col-xs-8 calendar-section-caption">

    <strong>{{#if show_full_year}}Gennaio - Dicembre {{current_year}}{{else}}Mesi successivi{{/if}}</strong>
    &nbsp;

    {{# unless show_full_year}}
    <a class="btn btn-default" href="/calendar/?show_full_year=1">Più... &nbsp;<span class="fa fa-plus"></span></a>
    {{else}}
    <a class="btn btn-default" href="/calendar/">Meno... &nbsp;<span class="fa fa-minus"></span></a>
    {{/unless}}


  </div>
  <div class="col-xs-2">
    {{#if show_full_year}}
    <a class="btn btn-default pull-right" href="/calendar/?year={{next_year}}{{#if show_full_year}}&show_full_year=1{{/if}}">{{next_year}} <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
    {{/if}}
  </div>
</div>

<div class="row">&nbsp;</div>

<div class="row clearfix">

    {{# each calendar}}
    <div class="col-md-3 month_container">
        <table class="calendar_month month_{{ this.month }}">
        <thead>
        <tr>
            <td colspan="14">{{#if ../show_full_year}}{{this.month}}{{else}}{{as_date_formatted this.moment 'MMMM, YYYY'}}{{/if}}</td>
        </tr>
        <tr>
            <td colspan="2">L</td>
            <td colspan="2">M</td>
            <td colspan="2">M</td>
            <td colspan="2">G</td>
            <td colspan="2">V</td>
            <td colspan="2">S</td>
            <td colspan="2">D</td>
        </tr>
        </thead>
        <tbody>
        {{#each this.weeks }}
        <tr>
            {{#each this}}
              {{> calendar_cell day = this}}
            {{/each}}
        </tr>
        {{/each}}

        </tbody></table>
    </div>
    {{/each}}

</div>

{{# unless show_full_year}}

  <div class="row main-row_header">
    <p class="col-md-12">Tutte le mie assenze del {{current_year}}</p>
  </div>

  {{> user_requests leaves=current_user.my_leaves }}

{{/unless}}


{{> footer }}
