
{{> header }}

<h1>Reparti</h1>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-4 lead">Tutti i reparti</div>
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add_new_department_modal" type="button" id="add_new_department_btn">Aggiungi nuovo reparto</button>
  </div>
</div>


<div class="row">&nbsp;</div>


{{# unless departments.length }}
<div class="row">
    <div class="col-md-4">Nessun reparto presente</div>
</div>
{{/unless}}

<div class="row">

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Manager</th>
          <th>Giorni di ferie</th>
          <th>Numero di dipendenti</th>
          <th>Festività nazionali
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Se impostato a Sì, i dipendenti del reparto hanno in aggiunta al numero di ferie previste anche le festività nazionali"
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th>Accrued Allowance
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Se impostato a Sì, i giorni di ferie iniziano ad accumularsi in proporzione al periodo dell'anno in cui inizia il rapporto di lavoro. Es: Un dipendente nel 9° mese di assunzione ha maturato 9/12 (quindi 3/4) del monte ferie annuale"
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each departments}}
        <tr data-vpp-department-list-mode="readonly">
          <td><a href="/settings/departments/edit/{{this.id}}/" data-vpp-department-name=1>{{this.name}}</a></td>
          <td><a href="/users/edit/{{this.boss.id}}/">{{# with this.boss }}{{this.full_name }}{{/with}}</a></td>
          <td>
            {{#each ../allowance_options}}{{#if_equal this.value ../allowance}}{{caption}}{{/if_equal}}{{/each}}
          </td>
          <td><a href="/users/?department={{ this.id }}">{{this.users.length}}</a></td>
          <td>{{# if this.include_public_holidays }}Sì{{/if}}</td>
          <td>{{# if this.is_accrued_allowance }}Sì{{/if}}</td>
          <td><a href="/settings/departments/edit/{{this.id}}/" class="btn btn-link btn-xs pull-right"><span class="fa fa-chevron-right"></span></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

{{> add_new_department_modal
  container_id='add_new_department_modal'
  form_action='/settings/departments/'
}}

{{> footer }}
